<nav>
    <% if (user){ %>
   <a href="/destinations/new">Add New Destination</a>
   <a href="/destinations/list">My Destination</a>

    <a href="/auth/logout">Logout</a>



    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>

    <%} %>
    
</nav>