<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Destination page</title>
</head>
<body>
     <h1>Create a new Destination</h1>
    <form action="" method="post">

        <label for="name">Destination Name:</label>
        <input id="name" name="name" type="text">

        <label for="country"></label>
        <input id="country" name="country" type="text">

        <label for="visited">visited:</label>
        <input name="visited" id="visited" type="checkbox">

        <button>Add Destination</button>
    </form>
    
</body>
</html>