<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Destination page</title>
</head>
<body>
      <%- include('../partials/navbar') %>
     <h1>Create a new Destination</h1>
    <form action="/destinations" method="post">

        <label for="name">Destination Name:</label>
        <input id="name" name="name" type="text">

        <label for="country">Country:</label>
        <input id="country" name="country" type="text">

        <label for="visited">visited:</label>
        <input name="visited" id="visited" type="checkbox">
        <label for="description">Description:</label><br>
    <textarea id="description" name="description" ></textarea><br>

    <label for="category">Category:</label>
    <select id="category" name="category">
      <option value="Beach">Beach</option>
      <option value="City">City</option>
      <option value="Desert">Desert</option>
      <option value="Other" selected>Other</option>
    </select><br>

    <label for="image">Image URL:</label>
    <input id="image" name="image" type="text"><br>

    <label for="datePlanned">Planned Date:</label>
    <input id="datePlanned" name="datePlanned" type="date"><br>


        <button>Add Destination</button>
    </form>
    
</body>
</html>